body {
    --tw-bg-opacity: 1; 
    background-color: rgb(2 6 23 / var(--tw-bg-opacity));
    font-family: cursive;
}

.start{
    padding-top: 50px;
    width: screen;
    display: flex; 
    gap: 60px;
    justify-content: center;
    align-items: center;

}

.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    object-fit: cover;
    object-position: center right;
}

.textstart{
    width: 500px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    line-height: 20px;
}

.smalltext {
    transform: translate(-50%,-50%);
    color: #2cc9ff;
    background: linear-gradient(to right, #2cc9ff 0, #989797 10%, #2cc9ff 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }


/* 
.button-33 {
  width: 150px;  
  background-color: #2cc9ff;
  border-radius: 100px;
  box-shadow: rgba(44, 130, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 125, 187, 0.15) 0 1px 2px,rgba(44, 61, 187, 0.15) 0 2px 4px,rgba(44, 134, 187, 0.15) 0 4px 8px,rgba(44, 180, 187, 0.15) 0 8px 16px,rgba(44, 151, 187, 0.15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 108, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 154, 187, 0.25) 0 1px 2px,rgba(44, 75, 187, 0.25) 0 2px 4px,rgba(44, 115, 187, 0.25) 0 4px 8px,rgba(44, 154, 187, 0.25) 0 8px 16px,rgba(44, 158, 187, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
   */


.body{
    padding-top: 50px;
    width: screen;
    display: flex; 
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    font-family: cursive;
    color: white;

}

.card {
    width: 240px;
    height: 294px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .card2 { 
    border-radius: 18px;
    padding: 20px;
    width: 200px;
    height: 254px;
    --tw-bg-opacity: 1; 
    background-color: rgb(1 1 15 / var(--tw-bg-opacity));
    transition: all .2s;
    border: 1px solid rgba(255, 255, 255, 0.139);

   }
   
   .card2:hover {
    transform: scale(0.97);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }


   
    .cardfa {
    width: 570px;
    height: 145px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .card2fa { 
    border-radius: 18px;
    padding: 20px;
    width: 530px;
    height: 104px;
    --tw-bg-opacity: 1; 
    background-color: rgb(1 1 15 / var(--tw-bg-opacity));
    transition: all .2s;
    border: 1px solid rgba(255, 255, 255, 0.139);

   }
   
   .card2fa:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .cardfa:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

   .tecnologias{

    padding-top: 20px;
    width: screen;
    display: flex; 
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

    
   }
   .divtec{
    display: flex;
    flex-direction: row; 
    gap: 20px;

   }

   .frontend{
    display: flex;flex-direction: row; gap: 80px; color: white; justify-content: center;
   }
   .frontend2{
    display: flex;flex-direction: row; gap: 49px; color: white; justify-content: center;

   }

   .cardp {
    width: 410px;
    height: 265px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .card2p { 
    border-radius: 18px;
    padding: 20px;
    width: 370px;
    height: 224px;
    --tw-bg-opacity: 1; 
    background-color: rgb(1 1 15 / var(--tw-bg-opacity));
    transition: all .2s;
    border: 1px solid rgba(255, 255, 255, 0.139);

   }
   
   .card2p:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .cardp:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }


   @media screen and (max-width: 768px) {
    .start {
        width: screen;
        flex-direction: column;
        gap: 20px;
        
    }
    .textstart{
        width: 300px;
        display: flex; 
        justify-content: center;
        flex-direction: column;
        line-height: 20px;
    }

    .body{
        flex-direction: column;
    }

    .cardfa{
        width: 330px;
        height: 172px;
    }
    .card2fa{
        width: 290px;
        height: 130px;
    }

    .divtec{
        flex-direction: column;
    }

    .cardp{
        width: 330px;
        height: 265px;
    }
    .card2p{
        width: 290px;
        height: 224px;
    }
    .frontend{
        gap: 50px;

    }

    .frontend2{
        gap: 30px;

    }


}